---
layout: default
title: Ben
path: home
tag: something
---

<div class="mx-auto lg:h-auto flex flex-col justify-start items-center pt-24">

{% if pagePhases.homePhaseSelection == 'Phase 1' %}
  <div>
    <div class="text-3xl font-bold tracking-tight text-yellow-500">This is Phase One content</div>
  </div>
{% elif pagePhases.homePhaseSelection == 'Phase 2' %}
  <div>
    <div class="text-3xl font-bold tracking-tight text-blue-500">This is Phase Two content</div>
  </div>
{% endif %}

 



  <div class="bg-blue-900 p-4">
    {% for page in collections.pages %}
      {{page.tags}}
      <a href="{{page.url | url}}" class="underline text-blue-600 hover:text-blue-300 transition ease-out">{{page.data.title}}</a>
    {%  endfor %}
  </div>

  <div>

  </div>
</div>