<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4">
    <div>
        <ul>
            {{socialmedia.items[0].platform}}
            {% for item in socialmedia.links %}
            <li>
                <a href="{{item.url}}" target="_blank">{{item.handle}} on {{item.platform}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2020. Made with ❤ by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
    </small>
</footer>
